@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This is a Net Core demo web provided by <a href="https://www.crossvale.com">Crossvale</a></p>
</div>
